<div class="container">
    <h1>Restaurants list</h1>

    <form data-bind="submit: onSubmit">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Outcode" data-bind="value: outcode, disable: busy">
        </div>
    </form>

    <table class="table table-striped">
        <caption>Restaurants</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Raiting</th>
            <th>Cuisine types</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: restaurants">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: ratingStars"></td>
            <td data-bind="text: cuisineTypes"></td>
        </tr>
        </tbody>
    </table>

    @section Scripts
    {
        <script type="text/javascript">
            require(["restaurantsList"], function(restaurantsList) {
                restaurantsList.init();
            })
        </script>
    }
</div>
