<div class="container">
    <h1>Restaurants list</h1>

    <form data-bind="submit: onSubmit">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Outcode" data-bind="value: outcode">
        </div>
    </form>

    <table class="table table-striped" data-bind="foreach: restaurants">
        <caption>Restaurants</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Raiting</th>
            <th>Cuisine types</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: ratingStars"></td>
            <td data-bind="text: cuisineTypes"></td>
        </tr>
        </tbody>
    </table>

    @section Scripts
    {
        <script type="text/javascript">
            var viewModel = new function() {
                var self = this;

                self.outcode = ko.observable("");
                self.outcode.subscribe(function(newValue) {
                    self.loadRestaurants(newValue);
                });

                /*self.restaurants = ko.computed(function () {
                    return ko.observableArray([
                        {
                            name: self.outcode(),
                            ratingStars: 2,
                            cuisineTypes: "Indian"
                        }
                    ]);
                });*/

                self.restaurants = ko.observableArray([
                    {
                        name: self.outcode(),
                        ratingStars: 2,
                        cuisineTypes: "Indian"
                    }
                ]);

                self.loadRestaurants = function (outcode) {
                    $.ajax({
                        url: "/Home/GetRestaurants",
                        type: "GET",
                        data: {outcode: outcode}
                    }).done(function (restaurants) {
                        alert(restaurants.length);
                    }).fail(function() {
                        console.error("Can't load restaurants data");
                    });
                }

                self.onSubmit = function(e) {
                    return false;
                }
            }

            ko.applyBindings(viewModel);
        </script>
    }
</div>
