<div class="container">
    <h1>Restaurants list</h1>

    <form>
        <div class="form-group">
            <label for="outcode">Email address</label>
            <input type="text" class="form-control" id="outcode">
        </div>
    </form>

    <table class="table table-striped">
        <tr><td><td></td></tr>
        <tr><td><td></td></tr>
        <tr><td><td></td></tr>
    </table>
</div>
