<div class="container">
    <h1>Restaurants list</h1>

    <form data-bind="submit: onSubmit">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Outcode" data-bind="value: outcode">
        </div>
    </form>

    <table class="table table-striped">
        <caption>Restaurants</caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Raiting</th>
            <th>Cuisine types</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: restaurants">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: ratingStars"></td>
            <td data-bind="text: cuisineTypes.join(',')"></td>
        </tr>
        </tbody>
    </table>

    @section Scripts
    {
        <script type="text/javascript">
            var viewModel = new function() {
                var self = this;

                self.outcode = ko.observable("");
                self.outcode.subscribe(function(newValue) {
                    self.loadRestaurants(newValue);
                });

                self.restaurants = ko.observableArray();

                self.loadRestaurants = function (outcode) {
                    $.ajax({
                        url: "/Home/GetRestaurants",
                        type: "GET",
                        data: {outcode: outcode}
                    }).done(function (data) {
                        data.forEach(function (r) {
                            self.restaurants.push(r);
                        });
                    }).fail(function() {
                        console.error("Can't load restaurants data");
                    });
                }

                self.onSubmit = function(e) {
                    return false;
                }
            }

            ko.applyBindings(viewModel);
        </script>
    }
</div>
